// Navigation code here

.navbar {

    .spacewalkers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navsection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    
            .navtabs {
                text-decoration: none;
                color: black;
                
    }

}
