// Navigation code here

.navbar {

background-color: @wild-sand;

    .spacewalkers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 1.5rem;
        font-size: 3.6rem;

        
    }

    .navsection {
        .flexbox ();
        
            .navtabs {
                text-decoration: none;
                color: black;

                padding: 2rem;
                font-size: 1.7rem;
            }
                
    }

}
